.iconAndTooltipContainer {
   color: #a8ecba;
}

.icon {
   position: absolute;
   top: 1rem;
   right: 1.5rem;
   cursor: pointer;
   z-index: 10;
}

.tooltip {
   position: absolute;
   top: 50px;
   left: 55px;
   padding: 4px 8px;
   font-size: 10px;
   white-space: nowrap;
   z-index: 10;
   transform: translateX(-30%);
}