.container {
   display: flex;
   margin: 0.4em 0 0 -1em;
   padding: 0.25em;
   border-radius: 10px;
   align-items:center;
   justify-content: center;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-size: 0.75em;
}

.container label {
   display: flex;
   align-items: center;
   margin-right: 0.75rem;
}
 
.container input[type="checkbox"] {
   margin-right: 0.25rem; 
}