.btn {
   display: inline-flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   transition: background-color 0.3s, color 0.3s;
   box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
   background-color: #525257;
}

.btn:disabled {
   cursor: not-allowed;
   opacity: 0.4;
}

.btn:disabled:hover {
   color: #f6f6f6;
   background-color: #4a4545;
}