.container {
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 0.25rem;
   padding: 0.25em 1.25em 2.5em;
}

.gifAbsolute {
   background-size: cover;
   height: 2.75rem;
   width: 4.25rem;
   position: absolute;
   right: 10%;
   top: 82%;
   transform: translateX(-50%);
   cursor: pointer;
}

.nameDisplay {
   font-size: 1rem;
   line-height: 1.5rem;
   font-weight: 700;
   text-transform: capitalize;
}

.imageSection {
   max-width: 100px;
   max-height: 100px;
   border: 2px solid #dcd5d5;
   overflow: hidden;
}

.imageSection img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.inputSection {
   display: flex;
   justify-content: center;
   cursor: pointer;
   height: 25px;
   width: 125px;
}

.inputSection input {
   flex: 1;
   padding: 0.75em;
   font-size: 0.8em;
   color: gray;
   border: 1px solid #ccc;
   outline: none;
}

.inputSection button {
   background-color: #464655;
   color: white;
   border: 1px solid #ccc;
   cursor: pointer; 
}

.inputSection .leftBtn {
   padding: 0 0.3em;
   border-top-left-radius: 5px;
   border-bottom-left-radius: 5px;
}

.inputSection .rightBtn {
   padding: 0 0.25em;
   border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;
}

.inputSection .rightBtn:disabled {
   background-color: #545462;
   cursor: not-allowed;
   opacity: 0.5;
}

@media (min-width: 768px) {
   .nameDisplay {
      font-size: 1.125rem;
      line-height: 1.75rem;
   }
}

@media (min-width: 380px) and (max-width: 460px) {
   .gifAbsolute {
      height: 2.95rem;
      width: 4.45rem;
      right: 11%;
      top: 81%;
   }
}

@media (min-width: 460px) and (max-width: 500px) {
   .gifAbsolute {
      height: 2.95rem;
      width: 4.45rem;
      right: 11.25%;
      top: 81%;
   }
}

@media (min-width: 500px) and (max-width: 530px) {
   .gifAbsolute {
      height: 2.95rem;
      width: 4.45rem;
      right: 11.75%;
      top: 81%;
   }
}

@media (min-width: 530px) and (max-width: 550px) {
   .gifAbsolute {
      height: 2.95rem;
      width: 4.45rem;
      right: 12.25%;
      top: 81%;
   }
}

@media (min-width: 550px) and (max-width: 600px) {
   .gifAbsolute {
      height: 2.95rem;
      width: 4.45rem;
      right: 11.25%;
      top: 81%;
   }
}

@media (min-width: 600px) and (max-width: 630px) {
   .gifAbsolute {
      height: 2.95rem;
      width: 4.45rem;
      right: 12%;
      top: 81%;
   }
}

@media (min-width: 630px) and (max-width: 660px) {
   .gifAbsolute {
      height: 2.95rem;
      width: 4.45rem;
      right: 12.25%;
      top: 81%;
   }
}

@media (min-width: 660px) and (max-width: 950px) {
   .gifAbsolute {
      height: 3.25rem;
      width: 4.75rem;
      right: 18.5%;
      top: 79%;
   }
}

@media (min-width: 950px) and (max-width: 1000px) {
   .gifAbsolute {
      height: 3.75rem;
      width: 5.5rem;
      right: 17.25%;
      top: 77%;
   }
}

@media (min-width: 1000px) and (max-width: 1050px) {
   .gifAbsolute {
      height: 3.75rem;
      width: 5.5rem;
      right: 19.25%;
      top: 77%;
   }
}

@media (min-width: 1050px) and (max-width: 1150px) {
   .gifAbsolute {
      height: 3.75rem;
      width: 5.5rem;
      right: 20%;
      top: 77%;
   }
}

@media (min-width: 1150px) and (max-width: 1250px) {
   .gifAbsolute {
      height: 3.85rem;
      width: 5.625rem;
      right: 16.5%;
      top: 75%;
   }
}

@media (min-width: 1250px) and (max-width: 1500px) {
   .gifAbsolute {
      height: 4rem;
      width: 5.75rem;
      right: 17%;
      top: 74%;
   }
}

@media (min-width: 1500px) {
   .gifAbsolute {
      height: 4.5rem;
      width: 6.5rem;
      right: 18.5%;
      top: 70%;
   }
}