.container {
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background: url('/account.png') no-repeat bottom center;
   background-size: cover;
   gap: 0.25rem;
   padding: 0.25em 1.25em 2.5em;
}

.gifAbsolute {
   background-size: cover;
   height: 2.75rem;
   width: 4.25rem;
   position: absolute;
   right: 8.5%;
   top: 82%;
   transform: translateX(-50%)
}

.imageSection {
   max-width: 85px;
   max-height: 85px;
   border: 2px solid #ccc;
   overflow: hidden;
}

.imageSection img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.inputSection {
   display: flex;
   justify-content: center;
   cursor: pointer;
   height: 25px;
   width: 125px;
}

.inputSection input {
   flex: 1;
   padding: 0.75em;
   font-size: 0.8em;
   color: gray;
   border: 1px solid #ccc;
   border-top-left-radius: 5px;
   border-bottom-left-radius: 5px;
   outline: none;
}

.inputSection button {
   background-color: #464655;
   padding: 0 0.25em;
   color: white;
   border: 1px solid #ccc;
   border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;
   cursor: pointer; 
}

@media (min-width: 380px) and (max-width: 660px) {
   .gifAbsolute {
      height: 2.95rem;
      width: 4.45rem;
      right: 10.75%;
      top: 81%;
   }
}

@media (min-width: 660px) and (max-width: 1000px) {
   .gifAbsolute {
      height: 3.25rem;
      width: 4.75rem;
      right: 17.5%;
      top: 79%;
   }
}

@media (min-width: 1000px) and (max-width: 1150px) {
   .gifAbsolute {
      height: 3.75rem;
      width: 5.5rem;
      right: 18.25%;
      top: 77%;
   }
}

@media (min-width: 1150px) and (max-width: 1250px) {
   .gifAbsolute {
      height: 3.85rem;
      width: 5.625rem;
      right: 15.25%;
      top: 75%;
   }
}

@media (min-width: 1250px) and (max-width: 1500px) {
   .gifAbsolute {
      height: 4rem;
      width: 5.75rem;
      right: 16.25%;
      top: 74%;
   }
}

@media (min-width: 1500px) {
   .gifAbsolute {
      height: 4.5rem;
      width: 6.5rem;
      right: 17%;
      top: 70%;
   }
}