.container {
   flex: 0.75;
   padding: 5rem 3rem 0;
   border-radius: 1rem;
}

.header {
   font-size: 1em;
   color: #53c28b;
   letter-spacing: 0.05em;
   text-transform: uppercase;
   text-align: right;
}

.form {
   display: flex;
   flex-direction: column;
   margin-top: 0rem;
   gap: 1.5rem
}

.inColumn {
   display: flex;
   flex-direction: column;
}

.textContainer {
   color: #615d5d;
   font-weight: 700;
   margin-bottom: 1rem;
}

.inputContainer {
   color: #7f837f;
   font-weight: 500;
   padding: 1rem 1.5rem;
   background-color: transparent;
   outline: 2px solid #aca6a6;
   outline-offset: 2px;
   border-radius: 0.5rem;
   border-style: none;
}

.btn {
   color: #e1e4e2;
   font-weight: 700;
   padding: 0.75rem 2rem;
   background-color: #2d2b2a;
   outline: 2px solid transparent;
   outline-offset: 2px;
   border-radius: 0.75rem;
   width: fit-content;
   position: relative;
}

.btn:hover {
   color: #2d2b2a;
   background-color: #53c28b;
}

.gif {
   background: url('/fly.gif') no-repeat center center;
   background-size: cover;
   height: 2rem;
   width: 4rem;
   position: absolute;
   left: 95%;
   top: 10%;
   transform: translateX(-50%)
}

@media (min-width: 450px) and (max-width: 660px) {
   .container {
      padding: 5rem 3.5rem 0;
   }

   .header {
      font-size: 1.15em;
   }

   .form {
      margin-top: 1rem;
      gap: 1.25rem;
   }
}

@media (min-width: 660px) and (max-width: 868px) {
   .container {
      padding: 5rem 5.5rem 0;
   }

   .header {
      font-size: 1.25em;
   }

   .form {
      margin-top: 0.5rem;
      gap: 1.5rem;
   }
}

@media (min-width: 868px) and (max-width: 1200px) {
   .container {
      padding: 5rem 8.5rem 0;
   }

   .header {
      font-size: 1.35em;
   }

   .form {
      gap: 1.45rem;
   }
}

@media (min-width: 1200px) and (max-width: 1500px) {
   .container {
      padding: 5.5rem 12rem 0;
   }

   .header {
      font-size: 1.2em;
   }

   .form {
      margin-top: 0.5rem;
      gap: 1.65rem;
   }
}

@media (min-width: 1500px) {
   .container {
      padding: 6rem 14rem 0;
   }

   .header {
      font-size: 1.4em;
   }

   .form {
      gap: 2rem;
   }
}