 /* Post Section */
.sticky {
   position: sticky;
   top: 4.4rem;
   padding: 0.5em 1.5em 0.5em;
   z-index: 10;
}

.sticky::before {
   content: "";
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   background: linear-gradient(to bottom,#2d2b2a, transparent), url('/wall.png') no-repeat center center;
   background-size: cover;
}

.postContainer {
   position: relative;
   padding: 0.5em;
   border: 2px solid #938d8d;
   background-color: #ccc;
}

.postContainerInput {
   color: #897e7e;
   font-weight: 500;
   width: 52.5%;
   border: none;
   outline: none;
   padding: 0.5em;
   border-radius: 4px;
   box-sizing: border-box;
   background-color: rgba(255, 255, 255, 0.524);
}

.postContainerInput::placeholder {
   font-size: 0.75em;
   font-style: oblique;
   color: #c1baba;
}

@media (min-width: 660px) {
   .postContainerInput::placeholder {
      font-size: 1em;
   }
}

.infoContainer {
   position: absolute;
   right: 6%;
   bottom: -30%;
   text-transform: uppercase;
   font-size: 0.5rem;
   font-weight: 600;
   color: rgba(244, 241, 239, 0.923);
   background-color: #16a34a;
   padding: 0.175rem 0.35rem;
   z-index: 100;
}

/* Comment Section */

.commentsContainer {
   display: flex;
   flex-direction: column;
   width: 100%;
   padding: 1.5em 1.25em 0.5em;
}

/* Comment Card */

.commentContainer {
   padding: 0.65em 1.125em 1.1em;
   margin-bottom: 0.375em;
   border: 2px solid #ccc;
   border-radius: 8px;
   position: relative;
   background-color: rgba(157, 163, 163, 0.16);
}

.topBetween {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 0.75em;
}

.profile {
   display: flex;
   align-items: center;
}

.profile img {
   width: 1em;
   height: 1em;
   object-fit: cover;
   margin-right: 0.25em;
}

.profile p {
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-weight: 600;
   font-size: 1.25em;
   margin: 0;
}

.profile p::first-letter {
   text-transform: capitalize;
}

.date {
   font-size: 0.75em;
   padding-top: 0.35em;
   color: #888;
}

.content {
   margin: 0.5em 0em 2.125em;
   text-align: justify;
   font-size: 0.75em;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.replyContainer {
   margin-top: 0.75em;
   padding: 0.35em 0.75em 1.1em;
   background-color: rgba(151, 146, 146, 0.101);
   color: #716e6e;
   border-radius: 8px
}

.replyToUser {
   font-size: x-small;
   font-style: italic;
   font-weight: 500;
}

.replyToUser strong {
   text-transform: capitalize; 
}

.replyToComm {
   font-size: small;
   font-style: italic;
   padding-top: 0.175em;
}

/* General Buttons */

.btnContainer {
   position: absolute;
   bottom: 0;
   right: 0;
   display: flex;
   gap: 0.25rem;
   padding: 0.75rem;
}

.btnContainer button {
   font-size: 0.85em;
   padding: 0.5em;
   border-radius: 6px;
   color: #fff;
   border: none;
   cursor: pointer;
}

.sneakerContainer {
   width: 38px;
   margin-right: 0.5rem;
}

/* No Comments */

.ncContainer {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
   padding: 6em 2em 2em;
   cursor: pointer;
}
 
.ncTitle {
   font-weight: 500;
   font-size: 1.25rem;
   margin-bottom: 0.35rem;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
 
.ncDescription {
   font-size: 0.85rem;
   margin-bottom: 1.5rem;
}
 
.ncImage {
   width: 100%;
   max-width: 200px;
   height: auto;
   cursor: pointer;
   text-align: center;
}

.ncLink {
   font-size: 1em;
   display: flex;
   flex-direction: column;
   align-items: center;
}

@media (max-width: 450px) {
   .postContainerInput {
      padding: 0.3em;
   }

   .btnContainer {
      position: absolute;
      bottom: 0;
      right: -2%;
   }

   .btnContainer button {
      font-size: 0.725em;
   }
}

@media (min-width: 450px) and (max-width: 660px) {
   .sticky {
      padding: 0.5em 2.25em 0.5em; 
   }

   .infoContainer {
      right: 6%;
      bottom: -27%;
   }

   .commentsContainer {
      padding: 1.5em 1.75em 0.375em;
   }

   .commentContainer {
      padding: 0.75em 1.15em 1.125em;
      margin-bottom: 0.4em;
   }

   .content {
      font-size: 0.8em;
   }

   .profile p {
      font-size: 1.1em;
   }

   .sneakerContainer {
      width: 40px;
   }
}

@media (min-width: 380px) and (max-width: 400px) {
   .postContainerInput {
      width: 57.5%;
   }
}

@media (min-width: 400px) and (max-width: 420px) {
   .postContainerInput {
      width: 60%;
   }
}

@media (min-width: 420px) and (max-width: 450px) {
   .postContainerInput {
      width: 61.5%;
   }
}

@media (min-width: 450px) and (max-width: 475px) {
   .postContainerInput {
      width: 57.5%;
   }
}

@media (min-width: 475px) and (max-width: 500px) {
   .postContainerInput {
      width: 60%;
   }
}

@media (min-width: 500px) and (max-width: 550px) {
   .postContainerInput {
      width: 62.5%;
   }
}

@media (min-width: 550px) and (max-width: 660px) {
   .postContainerInput {
      width: 65%;
   }
}

@media (min-width: 660px) and (max-width: 850px) {
   .postContainerInput {
      width: 67.5%;
   }
}

@media (min-width: 850px) and (max-width: 1000px) {
   .postContainerInput {
      width: 70%;
   }
}

@media (min-width: 1000px) and (max-width: 1200px) {
   .postContainerInput {
      width: 72.5%;
   }
}

@media (min-width: 1200px) and (max-width: 1400px) {
   .postContainerInput {
      width: 75%;
   }
}

@media (min-width: 1400px) and (max-width: 1600px) {
   .postContainerInput {
      width: 80%;
   }
}

@media (min-width: 1600px) {
   .postContainerInput {
      width: 82.5%;
   }
}

@media (min-width: 660px) and (max-width: 850px) {
   .sticky {
      padding: 0.75em 4em 0.75em; 
   }

   .commentsContainer {
      padding: 1.625em 4em 0.5em;
   }

   .commentContainer {
      padding: 0.8em 1.2em 1.25em;
      margin-bottom: 0.45em;
   }

   .content {
      font-size: 0.9em;
   }

   .profile p {
      font-size: 1.2em;
   }

   .sneakerContainer {
      width: 44px;
   }
}

@media (min-width: 660px) and (max-width: 705px) {
   .infoContainer {
      right: 9%;
      bottom: -27%;
      font-size: 0.55rem;
   }  
}

@media (min-width: 705px) and (max-width: 760px) {
   .infoContainer {
      right: 8.5%;
      bottom: -27%;
      font-size: 0.55rem;
   }  
}

@media (min-width: 760px) and (max-width: 850px) {
   .infoContainer {
      right: 7.5%;
      bottom: -27%;
      font-size: 0.55rem;
   }  
}

@media (min-width: 850px) and (max-width: 1000px) {
   .infoContainer {
      right: 10%;
      bottom: -27%;
      font-size: 0.575rem;
   }

   .sneakerContainer {
      width: 45px;
      bottom: 25%;
      left: -82%;
   }
}

@media (min-width: 1000px) and (max-width: 1250px) {
   .sneakerContainer {
      width: 46px;
   }
}

@media (min-width: 1250px) {
   .sneakerContainer {
      width: 47px;
   }
}

@media (min-width: 1000px) and (max-width: 1100px) {
   .infoContainer {
      right: 8%;
      bottom: -27%;
      font-size: 0.575rem;
   }  
}

@media (min-width: 1100px) and (max-width: 1250px) {
   .infoContainer {
      right: 7.75%;
      bottom: -27%;
      font-size: 0.6rem;
   }
}

@media (min-width: 1250px) and (max-width: 1500px) {
   .infoContainer {
      right: 9%;
      bottom: -27%;
      font-size: 0.6rem;
   }
}

@media (min-width: 1500px) and (max-width: 1700px) {
   .infoContainer {
      right: 11%;
      bottom: -23%;
      font-size: 0.625rem;
   }
}

@media (min-width: 1700px) {
   .infoContainer {
      right: 9.875%;
      bottom: -23%;
      font-size: 0.625rem;
   }
}

@media (min-width: 850px) and (max-width: 1250px) {
   .sticky {
      padding: 0.875em 5.5em 0.875em; 
   }

   .commentsContainer {
      padding: 1.75em 5.5em 0.5em;
   }

   .commentContainer {
      padding: 0.6em 1.25em 1.375em;
      margin-bottom: 0.5em;
   }

   .content {
      font-size: 1em;
   }

   .profile p {
      font-size: 1.3em;
   }
}

@media (min-width: 1250px) and (max-width: 1500px) {
   .sticky {
      padding: 1em 7.75em 1em; 
   }

   .commentsContainer {
      padding: 1.875em 7.75em 0.75em;
   }

   .commentContainer {
      padding: 0.8em 1.375em 1.5em;
      margin-bottom: 0.625em;
   }

   .content {
      font-size: 1.1em;
   }

   .profile p {
      font-size: 1.4em;
   }
}

@media (min-width: 1500px) {
   .sticky {
      padding: 1.5em 11em 1.5em; 
   }

   .commentsContainer {
      padding: 1.8em 11em 1.5em;
   }

   .commentContainer {
      padding: 0.75em 1.5em 1.625em;
      margin-bottom: 0.75em;
   }

   .content {
      font-size: 1.2em;
   }

   .profile p {
      font-size: 1.5em;
   }
}