.container {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 0.5em;
   padding: 1em;
   background-color: transparent;
}

.filterBlock {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.filterBlock label {
   margin: 0 0.6em 0.4em 0;
}
 
.filterBlock select {
   width: 100%;
   padding: 0.35em;
   border: 1px solid #ccc;
   border-radius: 5px;
}
 


