.toggler {
  width: 3.5em;
  height: 1.35em;
  border: 1.5px solid transparent;
  border-radius: 30px;
  background-color: #2d2b2a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em;
  position: relative;
  cursor: pointer;
}

.choice {
  font-size: 0.6em;
  color: #eef5ba;
}

.copBall {
  width: 0.8em;
  height: 0.8em;
  border-radius: 50%;
  position: absolute;
}

@media (min-width: 1150px) {
   .copBall{
      width: 1em;
      height: 1em;
   }

   .toggler {
      transform: scale(0.75);
      align-self: flex-end;
      margin-left: 10px;
      left: 0.5em;
   }
}