/* No Snkrs */

.nsContainer {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
   padding: 0 2em 26em;
   cursor: pointer;
}

.nsTitle {
   font-weight: 500;
   font-size: 1.5rem;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
 
.nsDescription {
   font-size: 1.15rem;
   margin-bottom: 1rem;
}
 
.nsImage {
   width: 100%;
   max-width: 250px;
   margin-left: 2rem;
   height: auto;
   cursor: pointer;
}

.nsLink {
   font-size: 1em;
}

@media only screen and (max-width: 1000px) {
   .nsTitle { font-size: 1.25rem; }
   .nsDescription { font-size: 0.8rem; }
   .nsImage { max-width: 200px; margin-left: 1rem; }
   .nsLink { font-size: 0.85em; }
}

/* no Coms */

.ncContainer {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
   padding: 0 2em 24em;
   cursor: pointer;
}
 
.ncTitle {
   font-weight: 500;
   font-size: 1.25rem;
   margin-bottom: 0.35rem;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
 
.ncDescription {
   font-size: 0.85rem;
   margin-bottom: 1.5rem;
}
 
.ncImage {
   width: 100%;
   max-width: 200px;
   height: auto;
   cursor: pointer;
   text-align: center;
}

.ncLink {
   font-size: 1em;
   display: flex;
   flex-direction: column;
   align-items: center;
}

/* No Blogs */

.nbContainer {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
   padding: 0 2em 14em;
   cursor: pointer;
}
 
.nbTitle {
   font-weight: 500;
   font-size: 1.25rem;
   margin-bottom: 0.35rem;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
 
.nbDescription {
   font-size: 0.85rem;
   margin-bottom: 1.5rem;
}
 
.nbImage {
   width: 100%;
   max-width: 200px;
   height: auto;
   cursor: pointer;
   text-align: center;
}

.nbLink {
   font-size: 1em;
   display: flex;
   flex-direction: column;
   align-items: center;
}

/* No kickz */

.nkContainer {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
   padding: 0 2em 30em;
   cursor: pointer;
}

.nbTitle {
   font-weight: 500;
   font-size: 1.25rem;
   margin-bottom: 0.35rem;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nkDescription {
   font-size: 1rem;
   margin-bottom: 2rem;
   text-align: center;
}
 
.nkImage {
   width: 100%;
   max-width: 160px;
   margin-left: 1rem;
   height: auto;
}

.nkLink {
   font-size: 1em;
   display: flex;
   flex-direction: column;
   align-items: center;
}