.container {
   background: #2d2b2a;
   height: 70px;
   font-size: 13px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 10px;
}

.social {
   display: flex;
   align-items: center;
   gap: 7px;
   padding-right: 4em;
}

.copyright {
   color: #f6ebe5;
   font-size: 12px;
   padding-left: 5em;
}

.icon {
   cursor: pointer;
}

.icon:hover {
   opacity: 0.4;
}

@media (max-width: 370px) {
   .copyright {
      font-size: 8px;
   }
}

@media (min-width: 370px) and (max-width: 660px) {
   .copyright {
      font-size: 9px;
   }
}

@media (min-width: 660px) and (max-width: 786px) {
   .copyright {
      font-size: 11px;
      padding-left: 8em;
   }

   .social {
      gap: 10px;
      padding-right: 8em;
   }
}

@media (min-width: 786px) and (max-width: 1000px) {
   .copyright {
      font-size: 11px;
      padding-left: 9em;
   }

   .social {
      gap: 10px;
      padding-right: 9em;
   }
}

@media (min-width: 1000px) and (max-width: 1200px) {
   .copyright {
      font-size: 13px;
      padding-left: 10em;
   }

   .social {
      gap: 12px;
      padding-right: 11em;
   }
}

@media (min-width: 1200px) and (max-width: 1450px) {
   .copyright {
      font-size: 13px;
      padding-left: 13em;
   }

   .social {
      gap: 12px;
      padding-right: 13em;
   }
}

@media (min-width: 1450px) and (max-width: 1700px) {
   .copyright {
      font-size: 15px;
      padding-left: 15em;
   }

   .social {
      gap: 12px;
      padding-right: 17em;
   }
}

@media (min-width: 1700px) {
   .copyright {
      font-size: 15px;
      padding-left: 16.5em;
   }

   .social {
      gap: 12px;
      padding-right: 19.5em;
   }
}