.container {
   background: #2d2b2a;
   height: 70px;
   font-size: 13px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 10px;
}

.social {
   display: flex;
   align-items: center;
   gap: 7px;
   padding-right: 3em;
}

.copyright {
   color: #f6ebe5;
   font-size: 12px;
   padding-left: 3em;
}

.icon {
   cursor: pointer;
}

.icon:hover {
   opacity: 0.4;
}

@media (max-width: 400px) {
   .copyright {
      font-size: 9px;
      padding-left: 2.25em;
   }
}

@media (min-width: 400px) and (max-width: 1000px) {
   .copyright {
      font-size: 11px;
      padding-left: 3em;
   }

   .social {
      gap: 10px;
   }
}

@media (min-width: 1000px) and (max-width: 1200px) {
   .copyright {
      font-size: 13px;
      padding-left: 5em;
   }

   .social {
      gap: 12px;
      padding-right: 5em;
   }
}

@media screen and (min-width: 1200px) {
   .copyright {
      font-size: 13px;
      padding-left: 6em;
   }

   .social {
      gap: 12px;
      padding-right: 6.5em;
   }
}