.container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: transparent;
   margin-top: 1em;
}

.searchBar {
   padding-left: 0.75em;
}

.searchBar input, .searchBar button {
   padding: 0.3em;
   border: 1px solid #ccc;
}

.searchBar input {
   border-top-left-radius: 5px;
   border-bottom-left-radius: 5px;
   outline: none;
}

.searchBar button {
   border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;
   background-color: #464655;
   color: snow;
   cursor: pointer;
}

.results {
   list-style: none;
   padding: 1em 1em 0;
   margin: 0;
}
 
.results li {
   width: 100vw;
   height: auto;
   padding: 0.65rem 0;
   border-bottom: 1px dashed #555050;
}

.results li:nth-child(1){
   border-top: 1px dashed #555050;
}

.searchTermItem {
   display: flex;
   flex-direction: column;
   gap: 0.25em;
   opacity: 0.65;
   position: relative;
   align-items: self-end;
   padding-right: 3rem;
   padding-top: 0.25em;
}

.searchTermItem:hover {
   opacity: 1
}

.image {
   position: absolute;
   top: 0;
   left: 12%;
   bottom: 0;
   width: 4em;
   height: 1.75em;
   transform: scale(1.15);
}

@media (min-width: 460px) and (max-width: 520px) {
   .searchTermItem {
      padding-right: 6rem;
   }
   .image {
      left: 1%;
      width: 200px;
   } 
}

@media (min-width: 520px) and (max-width: 660px) {
   .searchTermItem {
      padding-right: 6.5rem;
   }
}

@media (min-width: 660px) and (max-width: 786px) {
   .searchTermItem {
      padding-right: 7rem;
   }
   .image {
      left: 2%;
      width: 200px;
   } 
}

@media (min-width: 760px) and (max-width: 1000px) {
   .searchTermItem {
      padding-right: 9rem;
   }
   .image {
      left: 8%;
      width: 150px;
   } 
}

@media (min-width: 1000px) and (max-width: 1250px) {
   .searchTermItem {
      padding-right: 11rem;
   }
   .image {
      left: 13%;
   } 
}

@media (min-width: 1250px) and (max-width: 1700px) {
   .searchTermItem {
      padding-right: 13rem;
   }
   .image {
      left: 10%;
      width: 170px;
   } 
}

@media (min-width: 1700px) {
   .searchTermItem {
      padding-right: 15rem;
   }
   .image {
      left: 13%;
   } 
}

.searchTermText {
   flex: 1;
   display: flex;
   flex-wrap: wrap;
   flex-direction: row-reverse;
   align-items: baseline;
   margin: 0;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   gap: 0.75em;
}

.textLeft,
.textRight {
  text-overflow: ellipsis;
  flex: 1;

}

.textLeft {
  font-size: 1em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 600;
}

.textRight {
  font-size: 0.8em;  
  font-style: inherit;
  text-transform: uppercase;
}
 