.container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: transparent;
   margin-top: 1em;
}

.searchBar {
   padding-left: 0.75em;
}

.searchBar input, .searchBar button {
   padding: 0.3em;
   border: 1px solid #ccc;
}

.searchBar input {
   border-top-left-radius: 5px;
   border-bottom-left-radius: 5px;
   outline: none;
}

.searchBar button {
   border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;
   background-color: #464655;
   color: snow;
   cursor: pointer;
}

.results {
   list-style: none;
   padding: 1em 1em 0;
   margin: 0;
}
 
.results li {
   width: 100vw;
   height: auto;
   padding: 0.65rem 0;
   border-bottom: 1px dashed #555050;
}

.results li:nth-child(1){
   border-top: 1px dashed #555050;
}

.searchTermItem {
   display: flex;
   flex-direction: row;
   gap: 0.25em;
   opacity: 0.65;
   padding-top: 0.25em;
   align-items: center;
   position: relative;
}

.searchTermItem:hover {
   opacity: 1
}

.searchTermText {
   flex: 1;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 0;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   gap: 0.25em;
   position: relative;
   z-index: 1000;
   padding-left: 3em;
}

@media (min-width: 500px) and (max-width: 1200px)  {
   .searchTermText {
      padding-left: 7em; 
   }
}

@media (min-width: 1200px)  {
   .searchTermText {
      padding-left: 12em; 
   }
}

.textLeft,
.textRight {
  padding: 0.3em;
}

.textLeft {
  font-size: 1.1em;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 600;
  text-align: left;
}

.textRight {
  font-size: 0.8em;  
  font-style: inherit;
  text-transform: uppercase;
  text-align: left;
}

.image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 77.5%;
  transform: translateX(-50%);
  width: 100%;
  height: auto;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}