.blogsContainer {
   display: flex;
   flex-direction: column;
   width: 100%;
   padding: 1.5em 1.25em 0.5em;
}

.blogContainer {
   padding: 1em 1.5em;
   position: relative;
   background-color: rgba(157, 163, 163, 0.16);
}

.blogContainer::before,
.blogContainer::after {
  content: '';
  display: block;
  height: 1.25px;
  background-color: #635f5f57;
  position: absolute;
  left: 1.5em;
  right: 1.5em;
}

.blogContainer:nth-child(1)::before,
.blogContainer:nth-last-child(1)::after {
   display: none;
}

.blogContainer::before {
  top: 0;
}

.blogContainer::after {
  bottom: 0;
}

.headerContainer {
   display: flex;
   align-items: center;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
 
.userProfilePic {
   width: 20px;
   height: 20px;
   border-radius: 50%;
   margin-right: 0.25rem;
}

.userName {
   font-weight: 600;
}
 
.blogDate {
   margin-left: auto;
   font-size: small;
}

.commentContainer {
   margin: 0.5em 0em 1.5em;
   padding-top: 1em;
   text-align: justify;
   font-size: 0.75em;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.replyContainer {
   margin-top: 0.75em;
   padding: 0.35em 0.75em 1.1em;
   background-color: rgba(151, 146, 146, 0.101);
   color: #716e6e;
   border-radius: 8px
}

.justifyBetween {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 0.5em;
}

.replierName {
   display: flex;
   align-items: center;
   font-size: small;
   font-weight: 600;
}

.replierName strong {
   text-transform: capitalize; 
}

.replierLogo {
   width: 0.75rem;
   height: 0.75rem;
   border: 1px solid #53c28b;
   border-radius: 50%;
   margin-right: 0.35em;
}

.replyContent {
   font-size: small;
   font-style: italic;
   padding-top: 0.175em;
}

.createdAt {
   font-size: 0.65em;
   color: #746f6f;
}

.sneakerContainer {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 1em;
   width: 100%;
   margin-left: auto;
   margin-right: auto;
}
 
.sneakerImage {
   width: 100%;
   max-width: 180px;
   height: auto;
   margin-bottom: 1em;
}
 
.coppersContainer {
   display: flex;
   align-items: center;
   gap: 0.35rem;
   padding-bottom: 0.25rem;
}
 
.copperProfilePic {
   width: 30px;
   height: 30px;
   border-radius: 50%;
   border: 2px solid #53c28b;
   object-fit: cover;
}

.moreCopperPlaceholder {
   /* display: flex;
   align-items: center;
   justify-content: center; */
   width: 30px;
   height: 30px;
   border-radius: 50%;
   border: 2px dashed rgba(118, 114, 114, 0.791);
   color: rgba(118, 114, 114, 0.791);
   margin-right: 5px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 0.75rem;
   font-weight: 600;
}

@media (min-width: 1200px) {
   .sneakerContainer {
     flex-direction: row-reverse;
     justify-content: space-between;
     align-items: flex-end;
   }
 
   .sneakerImage {
     margin-bottom: 0;
   }
}

@media (min-width: 450px) and (max-width: 660px) {
   .blogsContainer {
      padding: 1.5em 1.75em 0.375em;
   }
}

@media (min-width: 660px) and (max-width: 850px) {
   .blogsContainer {
      padding: 1.625em 4em 0.5em;
   }
}

@media (min-width: 850px) and (max-width: 1250px) {
   .blogsContainer {
      padding: 1.75em 5.5em 0.5em;
   }
}

@media (min-width: 1250px) and (max-width: 1500px) {
   .blogsContainer {
      padding: 1.875em 7.75em 0.75em;
   }
}

@media (min-width: 1500px) {
   .blogsContainer {
      padding: 1.8em 11em 1.5em;
   }
}